@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Great+Vibes&display=swap');

:root {
    --primary-color: #505050   ;
    --secondary-color: #F9F6EE ;
    --accent1-color: #ED862C;
    --accent2-color: #5F74D5;
  
    --heading-font: "Great Vibes";
    --paragraph-font: "Confortaa family";
  
    --headline-color-on-white: #505050;  /* headlines on a white background */ 
    --headline-color-on-color: #F9F6EE; /* headlines on a colored background */ 
    --paragraph-color-on-white: #505050; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #F9F6EE; /* paragraph text on a colored background */ 
    --paragraph-background-color: #XXXXXX  ;
    --nav-link-color: #ED862C;
    --nav-background-color: #XXXXXX;
    --nav-hover-link-color: #XXXXXX;
    --nav-hover-background-color: #XXXXXX;
  }
  
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px;
    text-align: center;
  }