@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Great+Vibes&display=swap');

:root {
  --primary-color: #414141   ;
  --secondary-color: #F9F6EE ;
  --accent1-color: #cd5659;
  --accent2-color: #9b9b9b;

  --heading-font: "Confortaa family";
  --paragraph-font: "Confortaa family";

  --headline-color-on-white: #cd5659;  /* headlines on a white background */ 
  --headline-color-on-color: #F9F6EE; /* headlines on a colored background */ 
  --paragraph-color-on-white: #414141; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #F9F6EE; /* paragraph text on a colored background */ 
  --paragraph-background-color: #000  ;
  --nav-link-color: #000;
  --nav-background-color: #cd5659;
  --nav-hover-link-color:#000;
  --nav-hover-background-color: #b3484b;
}
h1 {
    font-family: var(--heading-font);
    position: relative;
    text-align: center;
    bottom: 20rem; 
    background-color: #ffffff61;
} 

h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    display: grid;
}
p {
    font-family: var(--paragraph-font);
    padding: 2px;
}
body {
    max-width: 960px;
    padding: 2px;
}
.hero img {
    display: block;
    width: 100%;
    height: 20rem;
    position: relative;
    padding: 50px;
}
.hero article {
    position: relative;
    background-color: #1cb3ca36;
    bottom: 18rem;
    left: 50px;
    
}
.hero article > img {
    width: 10rem;
    height: auto;
    float: right;
    bottom: 45px;
}
section {
    position: relative;
    bottom: 12rem;
}
.history {
    display: grid;
    grid-template-columns: 3fr 6fr;    
    grid-template-rows: 80px 1fr 3fr 3fr;
    align-items: center;
}
.history img {
    width: 400px;
    grid-column: 2 / 6 ;
    grid-row: 2/3;
    
}
.history p {
    grid-column: 1 / 2;
    width: 800px;
    grid-row: 2 / 3;
}
.adventure {
    display: flex;
    position: relative;
}

.adventure img {
    flex-direction: row;
    position: relative;
    width: 200px;
    bottom: 90rem;
    right: 7rem;
    
}
.adventure figcaption {
    position: relative;
    bottom: 90rem;
    right: 1rem;    
}
.fig1 figcaption {
    right: 55px
}
.fig2 img {
    width: 300px;
}
.fig3 img {
    width: 270px;
}
.fig4 img {
    width: 300px
}
.fig5 img {
    width: 270px;
}
footer {
    position: relative;
    bottom: 97rem;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 80px 1fr;
}
footer p {
    grid-column: 2;
}
footer nav {
    grid-column: 4;
}
header {
    display: grid;
    grid-template-columns: 230px 1fr 1fr;
    align-items: center;
    border-bottom: solid 2px var(--accent1-color);
}
header nav {
    display: flex;
    justify-content: space-between;
}
nav a:hover {
    color: var(--nav-hover-link-color)
}